project:
  type: book
  output-dir: docs

execute:
  echo: true
  warning: false
  message: false

book:
  title: "Analysis of Longitudinal and Clustered Data"
  date: last-modified
  chapters:
    - index.qmd
    - brief_intro.qmd
    - gee.qmd
    - linear_mixed.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand

editor: visual

